.character-input form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.character-input input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    outline: none;
}

.character-input button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    outline: none;
}